.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #09d0e6;
    border-radius: 8px;
    background: #00d9ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#00d9ff), to(#d90000));
    background: -moz-linear-gradient(top, #00d9ff, #d90000);
    background: linear-gradient(to bottom, #00d9ff, #d90000);
    -webkit-box-shadow: #6600ff 0px 0px 40px 0px;
    -moz-box-shadow: #6600ff 0px 0px 40px 0px;
    box-shadow: #6600ff 0px 0px 40px 0px;
    text-shadow: #800000 1px 1px 1px;
    font: normal normal bold 20px tahoma;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid #0aefff;
    background: #00ffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#00ffff), to(#ff0000));
    background: -moz-linear-gradient(top, #00ffff, #ff0000);
    background: linear-gradient(to bottom, #00ffff, #ff0000);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #008299;
    background: -webkit-gradient(linear, left top, left bottom, from(#008299), to(#d90000));
    background: -moz-linear-gradient(top, #008299, #d90000);
    background: linear-gradient(to bottom, #008299, #d90000);
}
.button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABnUlEQVRIia2UMUsDQRCFv7mEICh2iq6ghRoQQY29WSWtjRZ2VoL4L1KKhT/BXm0EsRWMlY1e/AGGEDC2KURCSLIWOUFzt5vcxQcHy82b92Zm504YgPrDZhoxJ8ARkAU8oAZcA2dK+5+ufHGLb6QRuQL2gSZQBbrAPDABvGAoqG2/YdPwnOWLHAfiT8Cq182szHYnV4GFoINNhNNEHbw/5BDhGVgDFpX2a3/ipfUxwXvrdWJmlS5/xezAZOiNotIvDjCnX5tBZ5Mg0zYVh4F4Qbxt5wQxI+kEBkPAk0M8GTciFRvF6jwM1NZLC2g5axjFYBhYO+imTDPV8Zbp7X1ihNbUGPh4zO0Ce0BmSJ0WcKO0fzfQoF7K5YF74t9PGygo7T/+fhl1B/kE4gQ5+f6XUQajXHwoN0os5RBo4/7wBjsCHQv3FsxU7+HWwgkVF2ccRaXLDaXLDaBo4YSKizMiZTk7EbUtthFd1Eu5nZ+zhRMqLs46zgBLv85RGGlEiRBnRADn/2FQdfCzA/RCuWEDYy4R0cAB8X5218Blf+AbrT5hocOilbAAAAAASUVORK5CYII=") no-repeat left center transparent;
    background-size: 100% 100%;
}